html, body{
  margin:0;
  padding:0;
  font-family:monospace;
}
.log .line{
  margin-bottom:5px;
}
.log .line.error{
  color:red;
}
.log{
  color:#CCC;
  display:none;
  background:#333;
  width:100%;
  box-sizing: border-box;
  padding:10px;
}
form{
  margin:10px;
}
form input[name="action"][value="stop"]{
  background:red;
  color:white;

}
